extends layout.jade
block content
  img(class="top-space imagen" src="http://vide.es/images/stories/clubs/27/logo/Logo%20Vigo-Rias%20Baixas%20Redondo.png" width="500" height="500")
  br

  footer
    p(class="lato text-center top-space animated fadeIn retraso-2") Pablo Sio 
