doctype html
html(lang="es")
  head
    title Liga Escolar
    meta(charset="utf-8")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/main.css")
  body
    div(class="container")
      div(class="row ")
        div(class="col-md-4")
          img(class="top-space concello" src="http://fgmontanismo.es/wp/wp-content/uploads/Logo-Concello-de-Vigo-color.jpg" width="250" height="75")
        div(class="col-md-4 ") 
          p(class="text-center" style="margin-top:40px") Liga Escolar 2018
          p(class="text-center" style="font-size:20px") SALIDA
        div(class="col-4")
          img(class="top-space  col-md-3" style="margin-top:40px" src="http://cnvigoriasbaixas.com/wp-content/uploads/2016/03/cn_vigo_rias_baixas_apaisado.jpg")

  block content
    
