extends ../layout.jade
block content
    div(class="col-md-4 col-md-offset-4")
      h1(class="azul-oscuro") Editar nadador
      form(method="POST" action="/nadador_editado" style="margin-top: 1.5em;" enctype="urlencoded")
        div(class="form-group")
          label Club
          select(name="id_club" class="form-control")
            - each club in clubs
              option= club.id_club
          br          
          label Dorsal
          br
          input(type="text" name="dorsal" class="form-control" value= nadador.dorsal)
          br
          label Marca
          br
          input(type="text" name="marca" class="form-control" value= nadador.mejor_marca)
          br
          label Temporada
          br
          select(name="id_temporada" class="form-control")
            - each temporada in temporadas
              option= temporada.id_temporada
          br
          input(type="text" name="nueva_temporada" class="form-control" placeholder="o introduzca una nueva temporada")
          br
          input(hidden type="checkbox" name="id_nadador" value=nadador.id_nadador checked)= nadador.id_nadador
          input(type="submit" class="btn btn-primary" value="Guardar")
